[project]
	description = puppet module for creating new local users with ssh-keys stored in hiera
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexander (progressivesasha)
[access "refs/for/refs/*"]
	read = group user/Alexander (progressivesasha)
	push = group user/Alexander (progressivesasha)
	label-Code-Review = -2..+2 group user/Alexander (progressivesasha)
	label-Verified = -1..+1 group user/Alexander (progressivesasha)
	rebase = group user/Alexander (progressivesasha)
	removeReviewer = group user/Alexander (progressivesasha)
	submit = group user/Alexander (progressivesasha)
[access "refs/heads/*"]
	read = group user/Alexander (progressivesasha)
	create = group user/Alexander (progressivesasha)
	push = +force group user/Alexander (progressivesasha)
	pushMerge = group user/Alexander (progressivesasha)
[access "refs/tags/*"]
	push = group user/Alexander (progressivesasha)
	push = +force group user/Alexander (progressivesasha)
